@font-face {
    font-family: "karla";
    src: url(../../fonts/Karla-Regular.ttf);
}

@font-face {
    font-family:"karla-bold";
    src: url(../../fonts/Karla-Bold.ttf);
}

@font-face {
    font-family:"playfair-bold" ;
    src: url(../../fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family:"playfair" ;
    src: url(../../fonts/PlayfairDisplay-Medium.ttf);
}

