$background: #E5E0DC;
$primary: #363A2B;
$secondary: #4F6234;
$tertiary: #D9C7B3;
$input: #E1D2C2;
$text-button: #ffffff;

$playfair-medium: "playfair", serif;
$playfair-bold: "playfair-bold", serif;
$karla-regular: "karla", sans-serif;
$karla-bold: "karla-bold", sans-serif;

$h1-size: 100px;
$h2-size: 96px;
$h3-size: 48px;
$h4-size: 30px;
$h5-size: 20px;
$p-size: 20px;
$p-legend-size: 15px;

$btn-secondary-height: 37px;
$btn-secondary-padding-x: 14px;